.page-content {
    align-items: center;
    justify-content: center;
}
.mdl-layout__content{
    padding: 50px;
}

.demo-card-wide.mdl-card {
     width: 512px;
}

.demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 176px;
}

.demo-card-wide > .mdl-card__menu {
    color: #fff;
}
